.container2{
    display: flex;
    flex-direction: column;
}
.quiz-item{
    display: flex;
    align-items: center;
    border: 3px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.exam-item{
    display: flex;
    align-items: center;
    border: 3px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.dropDownSetting a{
    background-color: rgb(219, 228, 243);
}

.dropDownSetting a:hover{
    background-color: lightblue;
    font-weight: 800;
}