.container2{
    display: flex;
    flex-direction: column;
}
.quiz-item{
    display: flex;
    align-items: center;
    border: 3px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.exam-item{
    display: flex;
    align-items: center;
    border: 3px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.dropDownSetting a{
    background-color: rgb(219, 228, 243);
}

.dropDownSetting a:hover{
    background-color: lightblue;
    font-weight: 800;
}

.all-div-ex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.div-image {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: begin;
    align-items: center;
}

.div-image > img {
    width: 40%;
    height: 100%;
}
.div-image > .quiz-info {
    width: 60%;
    height: 100%;
}

.div-chart {
    width: 46%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.div-delete {
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-delete {
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}
