.userForm {
    padding: 10px 20px 50px 20px;
    width: 100%; height: fit-content;
    min-height: 100vh;
    border: 2px solid lightgrey;
    /* border-radius: 10px; */
    margin: 1px 3px;
    background-color: white;
}

.footer {
    position: fixed;
    left: 325px; bottom: 0;
    justify-content: space-around !important;
    width: 80%; height: fit-content;
    padding: 5px 0;
    background-color: whitesmoke;
}
.shift > * {
    margin: 10px;
}
.footer button {
    font-size: 20px;
    padding: 3px 10px;
    border-radius: 7px;
}